.formulario{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 2px 8px rgba(0,0,0,.15);

max-width:900px;

}

.formulario label{

display:block;

margin-top:18px;

font-weight:bold;

}

.formulario input,
.formulario select,
.formulario textarea{

width:100%;

padding:12px;

margin-top:8px;

border:1px solid #ccc;

border-radius:6px;

}

.formulario textarea{

height:120px;

resize:none;

}

.formulario button{

margin-top:25px;

padding:15px;

background:#1565c0;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}